body {
  background-color: #EAF6F6;
}

hr {
  border-style: dotted;
  border-top: none;
  border-color: grey;
  width: 3%;
  border-width: 5px
}
h1{
  color: #48466D;
  font-family: Georgia, sans-serif;
}
h2{
  color: #820000;
}
h3{
  color: #00AD7C;
}
